{% extends 'base.html' %}

{% block page %}

<div class="container">
    {% block add_note %}
    {% endblock %}
</div>

<h2>Show journal:</h2>
<!-- ################################ FILTER  -->
<div>
  <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
	  {{ filterform }}
      <button type="submit">Filter</button>
  </form>
</div>

<!-- ################################ JOURNAL  -->
<div class="divTable paleBlueRows">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">Date</div>
			<div class="divTableHead">Value</div>
			<div class="divTableHead">Category</div>
			<div class="divTableHead">Description</div>
			<div class="divTableHead">Action</div>
		</div>
	</div>

	<div class="divTableBody">
		{% for record in all_records %}
			<div class="divTableRow">
				<div class="divTableCell">{{ record.date }}</div>
				<div class="divTableCell">{{ record.value }}</div>
				<div class="divTableCell">{{ record.category }}</div>
				<div class="divTableCell" style="text-align: left;">{{ record.description }}</div>				
				<div class="divTableCell">
					<form method="post" action="{% url 'deletenote' %}">
						{% csrf_token %}	
						<input type="hidden" name="id" value="{{ record.id }}" />
						<input type="hidden" name="startdate" value="{{ filter.startdate }}" />
						<input type="hidden" name="stopdate" value="{{ filter.stopdate }}" />
						<input type="hidden" name="category" value="{{ filter.category }}" />
						<button type="submit">Delete</button>
					</form>
				</div>			
			</div>
		{% endfor %}
	</div>

</div>


</br></br></br>
<!-- ################################ OPTIONS  -->
<div class="divTable paleBlueRows" style="width: 500px; text-align:left;">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">Options</div>
		</div>
	</div>
	<div class="divTableFoot tableFootStyle">
		<div class="divTableRow">
			<div class="divTableCell"><a href="{% url 'modify_categories' %}">Modify categories</a></div>
		</div>
		<div class="divTableRow">	
			<div class="divTableCell"><a href="{% url 'export' %}">Export (all data) to csv</a></div>
		</div>
		<div class="divTableRow">
			<div class="divTableCell">
				<form method="post" action="{% url 'import' %}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ import_form }}
					<input type ="submit" value="Send" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
