{% extends 'note_list.html' %}

{% block add_note %}

{% if edited_note is None %}
    </br>
    <nav class="navbar navbar-light bg-light"><h5>Add Entry:</h5></nav>
    <form method="post" action="{% url 'addnote' %}">
      {% csrf_token %}
      <table>
        {{ noteform.as_table }}
      </table>
        <button class="btn btn-outline-primary" type="submit">Save</button>
    </form>

{% else %}
    <!-- This form will appear only if note is edited-->
    <div class="container">
      <div class="jumbotron">
        <h5>Edit entry:</h5>
        <form method="post" action="{% url 'edit_note' %}">
          {% csrf_token %}
          <table>
            {{ noteform.as_table }}
          </table>
            <input type="hidden" name="note_id" value="{{ edited_note.id }}" />
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
      </div>
    <div>

{% endif %}

{% endblock %}