<!DOCTYPE html>
<html>
<head>
<title>List JJ</title>
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div>
    <h1><a href="/">LIST JJ HOME</a></h1>
</div>


<div>
You are logged in as: <b>{{ login }}</b>, 
<a href="{% url 'logout' %}">Logout</a>
</div>


<div>
    {{ message }}
</div>



    {% block page %}
    {% endblock %}



</body>
</html>


