<!DOCTYPE html>
<html>
<head>
<title>List JJ</title>
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>

</style>
<!--Bootstrap:-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<!--For datepicker to work:-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--datepicker theme:-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<meta name="viewport" content="width=device-width">
</head>

<body class='container'>

<div>
    <h1><a href="/">LIST JJ HOME</a></h1>
</div>


<div>
You are logged in as: <b>{{ login }}</b>, 
<a href="{% url 'logout' %}">Logout</a>
</div>


<div>
    {{ message }}
</div>



    {% block page %}
    {% endblock %}



</body>
</html>


