{% extends 'base.html' %}
  
{% block page %}

<h2>Add category:</h2>
<form method="post" action="{% url 'modify_categories' %}">
	{% csrf_token %}
	{{ categoryform }}
	<button type="submit">Save</button>
</form>


<h2>Delete category:</h2>
<div class="divTable paleBlueRows">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">Category</div>
			<div class="divTableHead">Action</div>
		</div>
	</div>

	<div class="divTableBody">

		{% for record in categories %}
			<div class="divTableRow">
				<div class="divTableCell">{{ record.1 }}</div>
		
				<div class="divTableCell">
					<form method="post" action="{% url 'delete_category' %}">
						{% csrf_token %}	
						<input type="hidden" name="category_id" value="{{ record.0 }}" />
						<button type="submit">Delete</button>
					</form>
				</div>
				
				
			</div>
		{% endfor %}

	</div>

	<div class="divTableFoot tableFootStyle">
		<div class="divTableRow">
			<div class="divTableCell">Date</div>
			<div class="divTableHead">Action</div>
		</div>
	</div>
</div>


{% endblock %}