{% extends 'base.html' %}
  
{% block page %}

<h2>Add category:</h2>
<form method="post" action="{% url 'modify_categories' %}">
	{% csrf_token %}
	{{ categoryform }}
	<button type="submit">Save</button>
</form>


<h2>Delete category:</h2>
<b>Deleting category will delete all logs with this category !</b>
<div class="divTable paleBlueRows">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead">Category</div>
			<div class="divTableHead">Delete</div>
			<div class="divTableHead">Set Default</div>
		</div>
	</div>

	<div class="divTableBody">

		{% for category in categories %}   <!--  Table with categories-->
			<div class="divTableRow">

				<div class="divTableCell">				
					{% if category.0 == login.profile.default_category.id %}
					<font style='color: blue; font-weight: bold'>DEFAULT</br></font>
					{% endif %}
					{{ category.1 }}
				</div>
				
				<div class="divTableCell">
					<form method="post" action="{% url 'delete_category' %}">
						{% csrf_token %}	
						<input type="hidden" name="category_id" value="{{ category.0 }}" />
						<button type="submit">Delete</button>
					</form>
				</div>

				<div class="divTableCell">
					<form method="post" action="{% url 'set_default_category' %}">
						{% csrf_token %}	
						<input type="hidden" name="category_id" value="{{ category.0 }}" />
						<button type="submit">Set Default</button>
					</form>
				</div>
					
			</div>
		{% endfor %}

			<div class="divTableRow">		 <!--  Works as footer -->
				<div class="divTableCell">	
				</div>
				<div class="divTableCell">
				</div>
				<div class="divTableCell">
					<form method="post" action="{% url 'set_default_category' %}">
						{% csrf_token %}	
						<input type="hidden" name="category_id" value="remove_default"/>
						<button type="submit">Remove Default</button>
					</form>
				</div>	
			</div>



	</div>

</div>


{% endblock %}