{% extends 'base.html' %}

{% block page %}

<div >
    {% block add_note %}
    {% endblock %}
</div>

<h2>Show journal:</h2>
<!-- ################################ FILTER  -->
<script>
//auto submits filter form
$(document).ready(function(){  
    $(".auto-submit").change(function() {
        $(this).closest("form").submit();
    });
});

//date picker widget
$( function() {
$( "#datepicker1" ).datepicker({dateFormat: 'yy-mm-dd'});
$( "#datepicker2" ).datepicker({dateFormat: 'yy-mm-dd'});
} );
</script>

<div>
  <form method="post" action="{% url 'index' %}">
	<div class="auto-submit">
		{% csrf_token %}
		{{ filterform.startdate.label }}: {{ filterform.startdate }}
		{{ filterform.stopdate.label }}: {{ filterform.stopdate }}
		{{ filterform.category.label }}: {{ filterform.category }}
	</div>
  </form>
</div>


<!-- ################################ JOURNAL  -->
<table
  data-toggle="table"
  data-search="true"
  data-show-columns="true"
  class = "table w-auto medium"
>
	<thead>
	<tr class="tr-class-2">
		<th>Date</th>
		<th>Value</th>
		<th>Category</th>
		<th>Description</th>
		<th>Action</th>
	</tr>
	</thead>

	<tbody>
	{% for note in all_records %}
	<tr id="tr-id-2" class="tr-class-1" data-title="bootstrap table" data-object='{"key": "value"}'>
			<td id="td-id-2" class="td-class-1" data-title="bootstrap table">{{ note.date }}</td>
			<td id="td-id-2" class="td-class-1" data-title="bootstrap table">{{ note.value }}</td>
			<td id="td-id-2" class="td-class-1" data-title="bootstrap table">{{ note.category }}</td>
			<td id="td-id-2" class="td-class-1" data-title="bootstrap table">{{ note.description }}</td>				
			<td id="td-id-2" class="td-class-1" data-title="bootstrap table">
				<form method="post" action="{% url 'deletenote' %}">
					{% csrf_token %}	
					<input type="hidden" name="id" value="{{ note.id }}" />
					<input type="hidden" name="startdate" value="{{ filter.startdate }}" />
					<input type="hidden" name="stopdate" value="{{ filter.stopdate }}" />
					<input type="hidden" name="category" value="{{ filter.category }}" />
					<button class="btn btn-danger" type="submit">Delete</button>
				</br>
				<button class="btn btn-info" type="button">
					<a href="{% url 'edit_note' %}/{{ note.id }}">Edit</a>
				</button>
				</form>
			</td>			
	</tr>
	{% endfor %} 
	</tbody>
</table>

<!-- ################################ SUMMARY  -->
</br></br>

<table class='table'>
	<tr>
		<td>Sum:</td>
		<td>{{ summary }}</td>		
	</tr>
</table>

</br></br>

<!-- ################################ OPTIONS  -->
<table class='table-borderless'>
	<tr>
		<td><h1>Options:</h1></td>
	</tr>
	<tr>
		<td><a href="{% url 'modify_categories' %}">Modify categories</a></td>
	</tr>
	<tr>	
		<td><a href="{% url 'export' %}">Export (all data) to csv</a></td>
	</tr>
	<tr>
		
	</tr>
</table>



<form method="post" action="{% url 'import' %}" enctype="multipart/form-data"></td>
{% csrf_token %}
{{ form.non_field_errors }}
{% for hidden_field in form.hidden_fields %}
	{{ hidden_field.errors }}
	{{ hidden_field }}
{% endfor %}

</br>


<div>		
	{{ import_form }}

	<input class="btn btn-default" type ="submit" value="Send">
</div>

</form>


{% endblock %}
